.scroller__navigation {
  touch-action: none;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.scroller__navigation ul {
  list-style: none;
}

.scroller__navigation ul li {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  box-shadow: 0 0 1px 1px black;
  border-radius: 50%;
  background-color: black;
  opacity: .5;
  cursor: pointer;
}

.scroller__navigation ul li+li {
  margin-top: 10px;
}

.scroller__navigation ul li.active {
  opacity: 1;
}

#root section img {
  max-width: 100%;
}